<% if @results != :empty_query and @results.count > 0 %>
    <div class="panel panel-primary">
        <div class="panel-heading">Search results for "<%= params[:query] %>" from <%= @target_db.upcase %> (Showing <%= @results.pos %> - <%= @results.pos + @results.count - 1 %> of <%= @results.total %> results)</div>
        <div class="panel-body">
            <table width="100%" cellpadding="2px" cellspacing="2px" class="table table-striped table-hover">
                <tr>
                    <th width="5%"></th>
                    <th width="35%">Title</th>
                    <th width="15%">Authors</th>
                    <th width="40%">Publication</th>
                    <th width="5%">Year</th>
                </tr>
                <% @results.results.each do |entry| %>
                    <tr>
                        <td>
                            <%= form_tag({:controller => 'reading_list_papers'}, :remote => true, :method => :post) do %>
                                <%= hidden_field_tag :reading_list_id, params[:reading_list_id] %>
                                <%= hidden_field_tag :paper_title, entry.title %>
                                <%= hidden_field_tag :paper_authors, entry.author %>
                                <%= hidden_field_tag :paper_publication, entry.publication %>
                                <%= hidden_field_tag :paper_year, entry.year %>
                                <%= hidden_field_tag :paper_url, entry.url %>
                                <%= hidden_field_tag :paper_code, entry.entry_id %>
                                <div id="btn_div_<%= entry.entry_id %>">
                                    <%= submit_tag 'Add', :disable_with => 'Please wait...', :class => 'btn btn-primary btn-sm', :disabled => @reading_list.has_paper(entry.entry_id) %>
                                </div>
                            <% end %>
                        </td>
                        <td><%= entry.title %></td>
                        <td><%= entry.author %></td>
                        <td><%= entry.publication %></td>
                        <td><%= entry.year %></td>
                    </tr>
                <% end %>
            </table>
            <%= will_paginate @results.get_paginated_results, :params => {:controller => 'remote_library', :action => 'search', :query => params[:query], :reading_list_id => params[:reading_list_id], :db => params[:db]}, :remote => true %>
        </div>
    </div>
<% elsif @results != :empty_query %>
    <div class="alert alert-warning">No matching results</div>
<% end %>