<%= form_for(@reading_list_paper) do |f| %>
  <% if @reading_list_paper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reading_list_paper.errors.count, "error") %> prohibited this reading_list_paper from being saved:</h2>

      <ul>
      <% @reading_list_paper.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :reading_list_id %><br />
    <%= f.number_field :reading_list_id %>
  </div>
  <div class="field">
    <%= f.label :paper_id %><br />
    <%= f.number_field :paper_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
